<template>
  <footer class="centralizar">
    <b-col sm="10" class="centralizar">
      <img src="@/assets/logo_site_branca.png" alt="Mão na Roda" width="30" />
      <h1 class="ml-4 mt-1 titulo-rodape">Mão na Roda</h1>
    </b-col>
    <b-col sm="2" class="links">
      <a class="posicionar-direita" href="/contato">Contato</a>
      <a class="posicionar-direita" href="#">Ajuda</a>
    </b-col>
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style>
footer {
  padding-left: 1%;
  height: 50px;
  width: 100%;
  background-color: #0d3882;
}

.titulo-rodape {
  color: #fff;
  font-size: 1.5rem;
}

.links {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}

.links a {
  color: #fff;
}

.links a:hover {
  text-decoration: none;
  color: #fff;
}

.centralizar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
</style>