<template>
  <header class="centralizar">
    <img src="@/assets/logo_site.png" alt="Mão na Roda" width="40" />
    <a href="/">
      <h1 class="ml-4 mt-2">Mão na Roda</h1>
    </a>
  </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style>
header {
  padding-left: 2%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px rgba(189, 183, 189, 1);
}

header > a > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0d3882;
  font-size: 2rem;
  font-weight: bold;
}

.centralizar {
  display: flex;
  align-items: center;
}
</style>