<template>
  <main>
    <h1>Cadastro</h1>
    <b-form class="col-md-6 col-sm-12 mx-auto mt-4">
      <b-input type="text" v-model="usuario.nome" placeholder="Informe seu nome"></b-input>
      <b-input type="text" v-model="usuario.email" placeholder="Informe seu email"></b-input>
      <b-input
        campo-telefone
        type="tel"
        v-mask="'(##)#####-####'"
        v-model="usuario.telefone"
        placeholder="Informe seu telefone"
      ></b-input>
      <b-input type="password" v-model="usuario.senha" placeholder="Informe sua senha"></b-input>
      <b-input type="password" v-model="usuario.confirmacaoSenha" placeholder="Repita sua senha"></b-input>
      <b-button class="mx-auto px-4 botao" @click="enviarFormulario">Cadastrar</b-button>
    </b-form>
  </main>
</template>

<script>
import { mask } from "vue-the-mask";
import axios from "axios";
import baseURL from "../../config/baseURL";

export default {
  name: "Cadastro",
  data: function() {
    return {
      usuario: {
        nome: null,
        email: null,
        telefone: null,
        senha: null,
        confirmacaoSenha: null
      }
    };
  },
  methods: {
    enviarFormulario(e) {
      e.preventDefault();

      axios.post();
    }
  },
  directives: { mask }
};
</script>

<style>
</style>