<template>
  <main>
    <h1>Conta</h1>
    <b-form class="col-md-6 col-sm-12 mx-auto mt-4">
      <b-input type="text" placeholder="Informe seu novo nome"></b-input>
      <b-input type="text" placeholder="Informe seu novo email"></b-input>
      <b-input
        campo-telefone
        type="tel"
        v-mask="'(##)#####-####'"
        placeholder="Informe seu novo telefone"
      ></b-input>
      <b-input type="password" placeholder="Informe sua nova senha"></b-input>
      <b-input type="password" placeholder="Repita sua nova senha"></b-input>
      <b-button class="mx-auto px-4 botao" @click="enviarFormulario">Cadastrar</b-button>
    </b-form>
  </main>
</template>

<script>
import { mask } from "vue-the-mask";

export default {
  name: "Conta",
  directives: { mask }
};
</script>

<style>
</style>