<template>
  <main>
    <h1>Contato</h1>
    <b-form class="col-md-6 col-sm-12 mx-auto mt-4">
      <b-input
        type="text"
        v-model="contato.nome"
        name="nome"
        v-validate="'required'"
        placeholder="Informe seu nome"
      />
      <b-input
        type="email"
        name="email"
        v-validate="'required|email'"
        v-model="contato.email"
        placeholder="Informe seu email"
      />
      <b-textarea
        name="texto"
        cols="30"
        rows="10"
        v-validate="'required'"
        v-model="contato.texto"
        placeholder="Relate o que deseja"
      ></b-textarea>
      <b-button class="mx-auto px-4 botao" @click="enviarFormulario">Enviar</b-button>
    </b-form>
  </main>
</template>

<script>
import axios from "axios";
import baseURL from "../../config/baseURL";

export default {
  name: "Contato",
  data: function() {
    return {
      contato: {
        nome: null,
        email: null,
        texto: null
      }
    };
  },
  methods: {
    enviarFormulario() {
      // if (this.errors.first() !== undefined) {
      //   const msg = this.errors.all();
      //   alert(msg);
      //   return;
      // }

      axios
        .post(`${baseURL}/contato`, JSON.stringify(this.contato))
        .then(resp => (this.msgPHP = JSON.stringify(resp.data)))
        .catch(err => (this.msgPHP = JSON.stringify(err)));
    }
  }
};
</script>

<style>
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin-bottom: 10px;
}

.botao {
  background-color: #4751ff;
  border: none;
}

.botao:hover {
  background-color: #0d3882;
  border: none;
}
</style>