<template>
  <main>
    <h1>Esqueceu a senha?</h1>
    <div class="centralizar-img mt-4">
      <img src="@/assets/quepena.jpg" alt="Trolei" />
    </div>
  </main>
</template>

<script>
export default {
  name: "EsqueceuSenha"
};
</script>

<style>
.centralizar-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>