<template>
  <main>
    <h1>Mão na Roda</h1>
    <div class="principal">
      <img src="@/assets/celular.png" alt="Tela de Início" width="180" />
      <a href="#">
        <button>
          <h1>Experimente Já</h1>
          <h2>Versão de teste no browser</h2>
        </button>
      </a>
      <div class="cartao" background-cinza>
        <img src="@/assets/celular.png" alt="Busca dos pontos" width="180" />
        <div class="informacao esquerda">
          <h1>Encontre os pontos que precisa</h1>
          <p>
            A partir do nosso aplicativo é possível encontrar postos, oficinas, borracharias e chaveiros,
            diminuindo seu estresse quando for necessário fazer manutenção em seu veículo.
          </p>
        </div>
      </div>
      <div class="cartao">
        <div class="informacao direita">
          <h1>E que tal pagar mais barato?</h1>
          <p>
            Com a pesquisa de produtos você localiza os melhores
            preços de produtos na sua região.
          </p>
        </div>
        <img src="@/assets/celular.png" alt="Busca dos pontos" width="180" />
      </div>
      <div class="cartao" background-cinza>
        <img src="@/assets/celular.png" alt="Busca dos pontos" width="180" />
        <div class="informacao esquerda">
          <h1>Tá precisando de ajuda?</h1>
          <p>
            Não tem problema, é só usar nossa função de socorro
            e esperar a chegada do mecânico mais próximo.
          </p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "home"
};
</script>

<style>
main > h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #0d3882;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

button {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #4751ff;
  border: none;
  color: #fff;
}

button:hover {
  background-color: #0d3882;
}

button > h1 {
  font-size: 1.4rem;
}

button > h2 {
  font-size: 1rem;
}

.cartao {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 420px;
}

.informacao {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.informacao > h1 {
  font-size: 2rem;
  color: #0d3882;
  padding-bottom: 30px;
}

.informacao > p {
  width: 550px;
  color: #4a4a4a;
  text-align: justify;
}

.cartao > img {
  margin-left: 100px;
}

.direita {
  align-items: flex-end;
}

.esquerda {
  align-items: flex-start;
}

[background-cinza] {
  background-color: #ededed;
}
</style>