<template>
  <main>
    <h1>Entrar</h1>
    <b-form class="col-md-4 col-sm-12 mx-auto mt-4">
      <b-input type="text" placeholder="Email"></b-input>
      <b-input type="password" placeholder="Senha"></b-input>
      <b-button class="botao mx-auto px-4 mb-4" @click="enviarFormulario">Entrar</b-button>
      <a class="mx-auto" href="/esqueceusenha">Esqueceu a senha?</a>
    </b-form>
  </main>
</template>

<script>
export default {
  name: "Login"
};
</script>

<style>
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin-bottom: 10px;
}

a:hover {
  text-decoration: none;
}

.botao {
  background-color: #4751ff;
  width: 150px;
  border: none;
}

.botao:hover {
  background-color: #0d3882;
  border: none;
}
</style>