<template>
  <main>
    <h1>Relatar Problema</h1>
    <b-form class="col-md-4 col-sm-12 mx-auto mt-4">
      <b-form-select v-model="selected" :options="options"></b-form-select>
      <b-textarea class="mt-3" name="texto" cols="30" rows="7" placeholder="Relate o que deseja"></b-textarea>
      <b-button class="mx-auto px-4 botao" @click="enviarForm">Enviar</b-button>
    </b-form>
  </main>
</template>

<script>
export default {
  name: "RelatarProblema",
  data: function() {
    return {
      selected: null,
      options: [
        { value: null, text: "Informe a categoria do problema" },
        { value: "1", text: "Informações erradas no aplicativo" },
        { value: "2", text: "Problemas com as funcionalidades" },
        { value: "3", text: "Outros" }
      ]
    };
  },
  methods: {
    enviarForm(e) {
      e.preventDefault();

      alert("Formulário enviado!");
    }
  }
};
</script>

<style>
</style>