<template>
  <div id="app">
    <Header></Header>
    <Body></Body>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from "./components/template/Header";
import Body from "./components/template/Body";
import Footer from "./components/template/Footer";

export default {
  name: "app",
  components: {
    Header,
    Body,
    Footer
  }
};
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  width: 100vw;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}
</style>
